.rowMio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}


.btnMio, .btnUp{
    
    background-color: rgb(76, 0, 255);
    color: white;
    border-radius: 5px;
    padding: 10px;    
    /*margin: 200px 250px 200px 250px;*/
    margin: 1% 40% 1% 40%;
  }

.btnUp{
    background-color: rgb(101, 59, 197);
  }
}
